<div class = "container contactform">

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">

<h4>Contact Us</h4>

<%= flash[:notice] %>

</div>
</div>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row cform">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="form-group">
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>      
    <div class="form-group">
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group message">
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
    </div>
     <div>      
<%= submit_tag "Send", :id => 'submitcontact' %> 
</div>
</div>
</div>

<% end %>


</div>
