

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
      <div class="col-md-6 col-xs-12">
    <h1 class="headline">Current Listings</h1>
  </div>
    <div class="col-md-6 col-xs-12">
    <h4><%= link_to 'Create a New Product', new_product_path, class: 'new_product' %></h4>
      </div>
  </div>

 <!-- <div class="row">
      <div class="col-md-6 col-xs-12">
        <a href=""><img class="img-responsive" src="" alt="" /></a>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2><a href="/products/13">Another test bike</a></h2>
        <p><span>Color: </span>some color</p>
        <p><span>Price: $ </span>200.0</p>
        <p>Testing again</p>
        <p>Average Rating: <div class="rated" data-score="3.0"></div></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <a href=""><img class="img-responsive" src="" alt="" /></a>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2><a href="/products/13">Another test bike</a></h2>
        <p><span>Color: </span>some color</p>
        <p><span>Price: $ </span>200.0</p>
        <p>Testing again</p>
        <p>Average Rating: <div class="rated" data-score="3.0"></div></p>
      </div>
    </div>
       <hr> -->


    <div class="container-fluid">
  <div class="row prodline">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h2><%= product.name %></h2>
      <%= image_tag(product.image_url, class: "jeans img-responsive") %>
      <p><%= product.description %></p>
      <p>Main Color : <%= product.color %></p>
      <p>Brand : <%= product.brand %></p>
      <p><%= link_to 'Show |', product, class: 'showbut'  %>
      <%= link_to 'Edit |', edit_product_path(product), class: 'editbut'  %>
      <%= link_to 'Destroy', product, class: 'destroybut', method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->
    <% end %>
  </div>
</div>


</section>
